.footer_container{
    height: 562px;
    background-color: #212121;
    padding-top: 121px;
color:#fff;
}
.footer_content{
    height: calc(100% - 171px);
    padding-left: 170px;
    padding-right: 170px;
}
.footer_top >h2 {
    font-size: 42px;
    line-height: 52px;
    color: #fff;
    font-weight: 400;
}
.footer_bottom{
    display: flex;
    justify-content:space-between;
    align-items:center;    padding-right: 125px;    margin-top: 57px;
}
.footer_item > .footer_title{
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 3.85px;
    color: hsla(0,0%,100%,.7);
}
.footer_list{
    padding-left: 0;
    list-style-type: none;
}
.footer_listItem{
    margin-bottom: 3px;font-size: 14px;
    line-height: 26px;
    color: #fff;
}
.footer_end{
    height: 45px;
    padding-left: 170px;
    padding-right: 170px;
    margin-top: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: #9c9c9c;
}